*{
    box-sizing:border-box ;
}

body{
    overflow-x: hidden;
}

.img-fluid {
    max-width: 100%;
}

@media (max-width: 768px) {.img-fluid {min-height: 30vh;}} 


/* FOOTER */

footer {min-height: 7em;}

#iconos i 

{font-size: 2em; 
    padding: 0 0.4em;
    color: white
}
