body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.card-body-img {width: 100px;}