body¨{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    background-color: rgb(197, 31, 31);

}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}